modules = ["nodejs-20", "web", "bash", "python-base-3.13"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 19406
externalPort = 80

[[ports]]
localPort = 23636
externalPort = 3001

[deployment]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/grado-eats: Dev Server"

[[workflows.workflow]]
name = "artifacts/mockup-sandbox: Component Preview Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"
isCanvasWorkflow = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd artifacts/mockup-sandbox && PORT=8000 BASE_PATH=/__mockup/ pnpm dev"
waitForPort = 8000

[[workflows.workflow]]
name = "artifacts/grado-eats: Dev Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd artifacts/grado-eats && PORT=8080 BASE_PATH=/ pnpm dev"
waitForPort = 8080
